<% for (const row of contents.buttonsGrid) { %>
  <% let isCentered = false; %>

  <% if (row[0] === 'hr') { %>
    <hr>
    <% continue; %>
  <% } else if ('attributes' in row[0] && row[0].attributes.includes('centered')) { %>
    <% isCentered = true; %>
  <% } %>

  <div class="my-2 d-flex flex-nowrap <%= isCentered ? 'justify-content-center' : 'justify-content-between' %>">
    <% for (const cell of row) { %>
      <%- include('_button.ejs', { button: cell }); %>
    <% } %>
  </div>
<% } %>
