<!-- 共通Head内要素 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<title>我が家のTVリモコン</title>

<!-- Webフォント -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap" rel="stylesheet">

<!-- マテリアルアイコン -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
